/.gradle/
/build/
/*.log

/local.properties

# IntelliJ IDEA files
/.idea/
*.iml

secrets.tar.gz
medic-official.keystore
playstore-secret.json

fastlane/*
!fastlane/Fastfile

.DS_Store
.classpath
.project
.settings