language: android
dist: trusty # Android builds are only supported on our Trusty image
jdk: oraclejdk8
android:
  components:
  - tools
  - platform-tools
  - extra-android-m2repository
  - build-tools-29.0.2
  - android-29
env:
- GRADLE_OPTS="-XX:MaxPermSize=2048M"
stages:
  - name: test
  - name: alpha
    if: tag =~ ^v.+-alpha\.[0-9]+$ # eg: v3.6.0-alpha.1
  - name: final
    if: tag =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ # eg: v3.6.0
jobs:
  include:
    - stage: test
      script: make test

    - stage: alpha
      script: fastlane build flavor:unbranded
      script: fastlane build flavor:medicmobilegamma
      script: fastlane build flavor:medicmobiledemo
  
    - stage: final
    - script:
      - fastlane build flavor:unbranded
      - fastlane build flavor:medicmobilegamma
      - fastlane build flavor:medicmobiledemo
    - script:
      - fastlane build flavor:bracuganda
      - fastlane build flavor:cic_guatemala
      - fastlane build flavor:cmmb_kenya
    - script:
      - fastlane build flavor:covid_moh_mali
      - fastlane build flavor:ebpp_indonesia
      - fastlane build flavor:hope_through_health
    - script:
      - fastlane build flavor:livinggoods
      - fastlane build flavor:livinggoodskenya
      - fastlane build flavor:livinggoods_assisted_networks
    - script:
      - fastlane build flavor:livinggoods_innovation_ke
      - fastlane build flavor:livinggoods_innovation_ke_supervisor
      - fastlane build flavor:livinggoods_innovation_ke_hivst
    - script:
#     - fastlane build flavor:moh_kenya_siaya_white
      - fastlane build flavor:moh_kenya_siaya_red
      - fastlane build flavor:moh_kenya_siaya_green
      - fastlane build flavor:moh_kenya_siaya_black
      - fastlane build flavor:moh_mali
    - script:
      - fastlane build flavor:moh_zanzibar_training
      - fastlane build flavor:moh_zanzibar
    - script:
      - fastlane build flavor:musomali
      - fastlane build flavor:pih_malawi
      - fastlane build flavor:pih_malawi_supervisor
    - script:
      - fastlane build flavor:simprints
      - fastlane build flavor:surveillance_covid19_kenya
      - fastlane build flavor:vhw_burundi
before_install:
- openssl aes-256-cbc -K $encrypted_323c4a109760_key -iv $encrypted_323c4a109760_iv -in secrets.tar.gz.enc -out ./secrets.tar.gz -d
- tar -xf ./secrets.tar.gz
- gem update --system
- gem install fastlane --no-document --quiet
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"
deploy:
  - provider: releases
    skip_cleanup: true
    overwrite: true
    api_key:
      secure: Dm6ciqGeR3zT+/hdO4jq+2sMa/d3sHSQ1U9ya9tCu71+BMZfjRA8vgBAWgnp6xixCUTEppJNgRrKaCR9V12Yu8Yl3ceY3bGRd6xhR9uUK+PgFUSjptuiwgwE1Fbj7lxT1NG1ZptvnqYZ0YhPiAC5cmcJUuz/0g83fKJfDNrX9V6IGQObdiPqDJX3cVbU/5NpSbIsnNqQfaldMP2Y1m1gODMCifOqM2Mj1nHd+X9OzEpuICCZiiHJJBKafdifZKmPlSgYDjt3d6DCsn5YiNnNm5Rs4kqWJc4YvV2G+S4eMnL7XB4pg45zZQ6ZIwn3NPp5a4pfHTn5nGC/2Hqqe8cw+xURYf/qrOZp3mQgAYiJht9bivMhwlvCvTh2kw+xorTj7wlFDSyj78QLxjxidiAj0AkBdYlVttSXDXAoCTGKHDhFEtKNviVdB9TNfYwKTFin4BCPsPnBEQZB9pzqIwBha9INjutYUJ9aX1uC7a1grR7Oa6IL7NH0Z0sV7bYkoW91X0ZxQtsVnFduc2y6AwKzqlO1VKN0U55KmUnj0STCGSMHZoI1cObBJtCzUcUnH7NIEfeZLq/tQ8sRkFlCJ1g2bJI0VG8DMTP56krvHKNknLacN5SjloNCST3SL6qlYto95ypSlfU+u3qpC6kNdXa7Yvodk+5u7VVQcX18xczbYvs=
    file_glob: true
    file: ./build/outputs/apk/**/*.apk
    on:
      tags: true
      repo: medic/medic-android
      branch: master
  - provider: script
    script: fastlane deploy flavor:unbranded && fastlane deploy flavor:medicmobilegamma && fastlane deploy flavor:medicmobiledemo
    skip_cleanup: true
    on:
      tags: true
      repo: medic/medic-android
      branch: master
