language: android
branches:
  except:
      - /^v.*/
android:
  components:
  - build-tools-23.0.3
  - android-22
before_script:
  - export MEDIC_VERSION_NAME="0.1.$TRAVIS_BUILD_NUMBER"
script:
  - ./gradlew test check assemble
after_success:
  - git config --global user.email "dev@medicmobile.org"
  - git config --global user.name "Travis CI"
  - git tag "v${MEDIC_VERSION_NAME}"
  - git push --tags "https://${github_auth}@github.com/${TRAVIS_REPO_SLUG}" >/dev/null 2>/dev/null
before_deploy:
  - export MEDIC_PUBLISH_DIR="build/publish/${MEDIC_VERSION_NAME}"
  - mkdir -p "$MEDIC_PUBLISH_DIR"
  - cp build/outputs/apk/*-debug.apk "$MEDIC_PUBLISH_DIR"
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id: ${s3_access_id}
  secret_access_key:
    secure: ${s3_access_secret}
  bucket: medic-mobile
  local_dir: build/publish
  upload-dir: builds/medic-android
  acl: public_read
  on:
    repo: ${TRAVIS_REPO_SLUG}
    branch: master
