<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.medicmobile.webapp.mobile">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />

  <application>
    <activity android:name="AppUrlIntentActivity"
      android:launchMode="singleInstance"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https" android:host="migori-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kisumu-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="nyeri-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kilifi-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="machakos-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="garissa-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="nakuru-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="isiolo-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="nairobi-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="turkana-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kakamega-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="vihiga-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kitui-echis.health.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="uasingishu-echis.health.go.ke" android:pathPattern=".*"/>

        <data android:scheme="https" android:host="baringo.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="bomet.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="bungoma.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="busia.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="elgeyomarakwet.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="embu.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="homabay.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kajiado.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kericho.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kiambu.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kirinyaga.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kisii.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="kwale.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="laikipia.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="lamu.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="makueni.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="mandera.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="marsabit.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="meru.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="mombasa.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="muranga.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="nandi.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="narok.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="nyamira.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="nyandarua.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="samburu.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="siaya.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="taitataveta.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="tanariver.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="tharakanithi.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="transnzoia.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="wajir.echis.go.ke" android:pathPattern=".*"/>
        <data android:scheme="https" android:host="westpokot.echis.go.ke" android:pathPattern=".*"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
