<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.medicmobile.webapp.mobile">
  <!-- When upgrading targetSdkVersion, check that the app menu still
      works on newer devices. -->
  <uses-sdk tools:ignore="OldTargetApi"/>

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- uses-feature indicates to Android 5+ that we want to use hardware to get the location.
       see: https://developer.android.com/guide/topics/location/strategies#Permission -->
  <uses-feature android:name="android.hardware.location" android:required="false"/>
  <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
  <uses-feature android:name="android.hardware.location.network" android:required="false"/>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

  <!-- READ_EXTERNAL_STORAGE required if users want to include photos from their phone  -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:largeHeap="true"
      tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity,Instantiatable">
    <activity android:name="StartupActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="LockScreen"
        android:screenOrientation="portrait"/>
    <activity android:name="EmbeddedBrowserActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize"/>
    <activity android:name="UpgradingActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize"
        android:launchMode="singleTop"/>
    <activity android:name="ConnectionErrorActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize"
        android:launchMode="singleTop"/>
    <activity android:name="FreeSpaceWarningActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="SettingsDialogActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="RequestPermissionActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="AppUrlIntentActivity"
        android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="@string/scheme" android:host="@string/app_host" android:pathPattern=".*"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
