<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.medicmobile.webapp.mobile">

  <uses-sdk tools:ignore="OldTargetApi"/>

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- uses-feature indicates to Android 5+ that we want to use hardware to get the location.
       see: https://developer.android.com/guide/topics/location/strategies#Permission -->
  <uses-feature android:name="android.hardware.location" android:required="false"/>
  <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
  <uses-feature android:name="android.hardware.location.network" android:required="false"/>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

  <!-- READ_EXTERNAL_STORAGE is required if users want to include photos from their phone  -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <!-- SEND_SMS is required if users want to send reports as SMS.To able the feature add the following line:
  <uses-permission android:name="android.permission.SEND_SMS"/>
  -->

  <application android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:fullBackupContent="@xml/backup_rules_sdk_30_and_lower"
      android:dataExtractionRules="@xml/backup_rules"
      android:largeHeap="true"
      tools:ignore="LockedOrientationActivity,UnusedAttribute">
    <activity android:name="StartupActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="EmbeddedBrowserActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize"/>
    <activity android:name="ConnectionErrorActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize"
        android:launchMode="singleTop"/>
    <activity android:name="FreeSpaceWarningActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="SettingsDialogActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="RequestLocationPermissionActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="RequestStoragePermissionActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="RequestSendSmsPermissionActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="AppUrlIntentActivity"
        android:launchMode="singleInstance"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="@string/scheme" android:host="@string/app_host" android:pathPattern=".*"/>
      </intent-filter>
    </activity>
    <activity android:name="UpgradingActivity"
      android:screenOrientation="portrait"
      android:configChanges="orientation|screenSize"
      android:launchMode="singleTop"/>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths">
      </meta-data>
    </provider>
  </application>

  <queries>
    <intent>
      <action android:name="android.media.action.IMAGE_CAPTURE" />
    </intent>
    <intent>
      <action android:name="medic.mrdt.verify" />
    </intent>
  </queries>
</manifest>
