name: Build and test

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Test
      run: make test
    - name: Set up ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Set up fastlane
      run: gem install fastlane --no-document --quiet
    - name: Unpack secrets
      env:
        ANDROID_SECRETS_KEY: ${{ secrets.ANDROID_SECRETS_KEY }}
        ANDROID_SECRETS_IV: ${{ secrets.ANDROID_SECRETS_IV }}
      run: |
        openssl aes-256-cbc -K $ANDROID_SECRETS_KEY -iv $ANDROID_SECRETS_IV -in secrets.tar.gz.enc -out ./secrets.tar.gz -d
        tar -xf ./secrets.tar.gz
    - name: Assemble unbranded
      uses: maierj/fastlane-action@v1.4.0
      env:
        ANDROID_KEYSTORE_PATH: ${{ secrets.ANDROID_KEYSTORE_PATH }}
        ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
        ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
        ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
      with:
        lane: build
        options: '{ "flavor": "unbranded" }'

  instrumentation-tests:
    name: Instrumentation tests
    runs-on: macos-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: test unbranded
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        arch: x86
        script: make test-ui
    - name: run tests on gamma
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        arch: x86
        script: make test-ui-gamma
